<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTC-8>
    <title>Document</Document>
</head>
<body>

{{range .}}
    Meal: {{.MealType}}<br>
    {{range .Dishes}}
        Name: {{.Name}}<br>
        Price: {{.Price}}<br>
    {{end}}
{{end}}

<body>
</html>